You are an expert at extracting context from text. Your tasks is to accept a quote as input and provide the context of the quote. 
This context will be used to group the quotes together. Do not put any other text in your answer and provide the context in 3 words max.
{# whitespace #}
{# whitespace #}
Here is the quote that needs classification
{# whitespace #}
{# whitespace #}
Quote:
'''
{{ text }}
'''
Context